In [2]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import numpy as np
import dateutil

In [3]:
tips = sns.load_dataset("tips")

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
rows = tips.values.tolist()

In [6]:
rows[0]

[16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2L]

In [7]:
gender =  map(lambda x: x[2], rows)

In [8]:
gender [:10]

['Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male']

In [9]:
#sum(map(lambda v: 1, filter(lambda x: x=='Male', gender)))
#sum(map(lambda x: int(x=='Male'),gender))
pairs = map(lambda x: (int(x=='Male'),int(x=='Female')),gender)

In [10]:
pairs[:3]

[(0, 1), (1, 0), (1, 0)]

In [11]:
reduce(lambda x,y: (x[0]+y[0],x[1]+y[1]),pairs)

(157, 87)

In [12]:
#counting days instead of gender

day =  map(lambda x: x[4], rows)
#cal = map(lambda x: (int(x=='Sun'),int(x=='Mon'),int(x=='Tue'),int(x=='Wed'),int(x=='Thu'),int(x=='Fri'),int(x=='Sat')),days)

In [13]:
def reducer(x,y):
    x[y] = x.get(y,0)+1
    return x

counts = reduce(reducer,day,{})

In [14]:
counts

{'Fri': 19, 'Sat': 87, 'Sun': 76, 'Thur': 62}

In [15]:
#with open('citibike.csv','r') as fi:
#    reader = csv.DictReader(fi)

In [16]:
#to print the date of birth of the first biker of each day of the week

In [17]:
Y = None

def checkDate(x):
    global Y
    d = dateutil.parser.parse(x['starttime']).day
    if d!=Y:
        Y=d
        return True
    return False

In [18]:
filename = 'citibike.csv'
with open(filename,'r') as fi:
    reader = csv.DictReader(fi)
    #for row in reader:
    #    row['birth_year']
    #   break
    values = filter(checkDate,reader)

In [19]:
print values[0], len(values)

{'end_station_id': '423', 'gender': '2', 'bikeid': '17131', 'start_station_latitude': '40.75044999', 'end_station_name': 'W 54 St & 9 Ave', 'cartodb_id': '1', 'start_station_name': '8 Ave & W 31 St', 'start_station_id': '521', 'start_station_longitude': '-73.99481051', 'usertype': 'Subscriber', 'stoptime': '2015-02-01 00:14:00+00', 'end_station_longitude': '-73.98690506', 'starttime': '2015-02-01 00:00:00+00', 'end_station_latitude': '40.76584941', 'tripduration': '801', 'the_geom': '', 'birth_year': '1978'} 7

In [20]:
## Complete for Homework

In [21]:
import multiprocessing as mp
from timeit import default_timer
import pyproj
proj = pyproj.Proj(init='epsg:2263',preserve_units = True)

In [ ]:
def projection(row):
    return Geom.point(proj(float(row['start_station_longitude']),
                float(row['start_station_latitude'])))

pool = mp.Pool(processes=4)

filename = 'citibike.csv'
with open(filename,'r') as fi:
    reader = csv.DictReader(fi)
    start = default_timer()
    coords = pool.map(projection,reader)
    end = default_timer()
    print 'Time', end-start